---
layout: layout.html
title: Photos
---

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css"
/>

<div class="container">
  <h2 class="animate-on-scroll">Photos</h2>
  <p class="animate-on-scroll" style="margin-bottom: 40px">
    Kumpulan momen visual yang saya dokumentasikan.
  </p>

  <div id="album-container" class="album-grid">
    {% for album in photos.albums %} {% if album.photos and album.photos.length
    > 0 %}
    <div class="album-item animate-on-scroll">
      <a
        href="{{ album.photos[0].url | replace('./', '/') }}"
        data-lightbox="{{ album.id }}"
        data-title="{{ album.photos[0].title }}"
        class="album-cover"
      >
        <img
          src="{{ album.cover | replace('./', '/') }}"
          alt="{{ album.title }}"
        />
        <div class="album-info">
          <h4>{{ album.title }}</h4>
          <p>Lihat Album ({{ album.photos.length }} foto)</p>
        </div>
      </a>
    </div>
    {% endif %} {% endfor %}
  </div>

  <div id="lightbox-links" style="display: none">
    {% for album in photos.albums %} {% for i in range(1, album.photos.length)
    %} {% set photo = album.photos[i] %}
    <a
      href="{{ photo.url | replace('./', '/') }}"
      data-lightbox="{{ album.id }}"
      data-title="{{ photo.title }}"
    ></a>
    {% endfor %} {% endfor %}
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>
<script>
  lightbox.option({
    resizeDuration: 200,
    wrapAround: true,
  });
</script>
